/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
/.shadow-cljs
.nrepl-port

/node_modules
/log

guestbook_dev\.db
guestbook_test\.db
guestbook_dev.db.mv.db
guestbook_dev.db.trace.db
guestbook_test.db.mv.db
guestbook_test.db.trace.db

*~
*#
.#*
.DS_Store
